 <p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.formatted_price %>
</p>


<% if current_user %>

<div id="review-list">
  <%= render @product.reviews %>
</div>

<h4>New Review</h4>

  <%= form_for([@product, @review],:remote => true) do |f| %>
    <div id='review-errors'>
      <% if @review.errors.any? %>
        <%= render partial: 'reviews/review_form_errors' %>
      <% end %> 
    </div>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    
    <div class="actions">
      <%= f.submit %>
    </div>
  
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p>

<% end %>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<script type="text/javascript">
  $(function() {
     $("#new_review")
        .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
          $("input[type='submit']") // make changes to the submit button
            .val('Saving...') // change the text on the button
            .attr('disabled', 'disabled'); // disable the button
        })
        .on('ajax:complete', function() {
          $("input[type='submit']")
            .val('Create Review')
            .removeAttr('disabled');
        });
  });
</script>